@(title: String)(content: Html)(implicit webJarsUtil: org.webjars.play.WebJarsUtil)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel='stylesheet' href='@webJarsUtil.locate("bootstrap.min.css").url'>
    <link rel='stylesheet' href='@routes.Assets.at("stylesheets/index.css")'>
    <script type='text/javascript' src='@webJarsUtil.locate("jquery.min.js").url'></script>
    <script type="text/javascript" src="@routes.LifeController.javascriptRoutes()"></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/draw.js")'></script>

</head>
<body onload="resetButton.click()">

    <div class="">
        <button class="button" id="autoRefreshButton">Auto Refresh</button>
        <button class="button" id="singleRefreshButton">Single Step</button>
        <button class="button" id="resetButton" data-width="400" data-height="424">Reset</button>
    </div>
    <div class="container">
        @content
    </div>

</body>
</html>
